.card {
    height: 100%;
}

.card .card-img-top {
    min-height: 150px;
}

.card .card-title {
    min-height: 30px;
}

.card-body__right {
    margin: 1rem;
}

.card-body__right .course-status {
    float: right;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.course__item {
    cursor: pointer;
}